.urlInput {
    max-width: 800px;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px !important;
  color: #08576c;
}

#inputUrl {
  resize: none;
}

.parameterEditor {
    max-width: 800px;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

#parameterEditorCancelButton {
  float: left;
  width: 45%;
  border: none;
}

#parameterEditorSubmitButton {
  float: right;
  width: 45%;
}

.submitButton {
  background-color: #084959 !important;
  color: white;
  border: none;
}

#convertedUrl {
  background-color: #d6f4fb;
  width: 100%;
  overflow-wrap: break-word;
  padding: 15px;
  margin-bottom: 10px;
  color: #08576c;
}

#parameterEditorButtonsContainer {
  margin-bottom: 20px;
  overflow: auto;
}

.invalidInput {
  border-color: red !important;
}

th {
  color: #003846;
}

#parameterHeader {
  background-color: #08576c;
  color: white;
}

#macroHeader {
  background-color: #084959;
  color: white;
}

.row0 {
  background-color: #a6e6f6;
}

.row1 {
  background-color: #d6f4fb;
}

input {
  color: #08576c;
}

.plainText {
  color: #08576c;
}
